.boardDiv{
    background-color:lemonchiffon;
    border-radius: 10px;
    flex-grow: 1;
    margin: 0px 8px 8px 8px;

}

.tittle_board{
    color: gray;
    font-family:'Courier New', Courier, monospace;
    .imgBoard{
        height: 60px;
    }
}