$background: white;
$links: #8cc3e3;
.body{
    min-height: 85vh;
    max-height: 85vh;
    background-color: white;
}

.app-header {
    background-color: $background;
    max-height: 100px;
    .dayTittle{
        color: #3a3939fc;
        font-family:'Courier New', Courier, monospace;
        font-size: 35px;
        justify-content:center;
        padding-left: 38px;
        font-weight: 600;
        .imgTittle{
            height: 90px;
            position: relative;
        }
        .dayName{
            position: absolute;
            align-self: center;
            padding-left: 10px;
        }
    }
    h1{
        font-family:'Courier New', Courier, monospace;
        margin: 0;
    }
    .row{
        #actionsColumn{
            justify-content: end;
        }
        #boardColumn{
            justify-content: center;
        }
        .columnheader{
            flex-grow: 1;
            display: inline-flex;
        }
    }
    #actionsRow{
        width: 220px;
        justify-content: space-around;
        margin: auto 15px auto 0;
    }
    .tittle-link {
        color: $links;
        font-size:50px;
        height: 70px;
    }

    
  
    .imgLogo{
        height: 90px;
        margin: 2% 0 0 15%;

    }  
    .actionButton{
        div{
            width: 65px;
            height: 65px;
            background: white;
            border-radius: 50%;
            img{
                height: 50px;
                width: 50px;
                border-radius: 40%;
                padding: 7.5px;
            }
            #trash, #taskcheck{
                width: 40px;
                height: 40px;
                border-radius: 0%;
                padding: 12.5px;
            }
        }
    }   
}
.footer{
    min-height: 200px;
    background-color:#0B1C1E;
    color:white;
    p{
        text-align: center;
        margin:auto;
        font-size: 12px;
        padding-bottom: 20px;
    }
    .footerColumn{
        flex-grow: 1;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        ul{
            li{
                list-style: none;
                font-size: 12px;
            }
        }
    }
}

FreeTime{
    background-color: antiquewhite;
}
.w-50{
    min-width: 50%;
}
.w-20{
    width: 20%;
}
.w-30{
    min-width: 30%;
}
.w-70{
    min-width: 70%;
}
.row{
    display: flex;
    flex-direction: row;
}
.row-reverse{
    display: flex;
    flex-direction: row-reverse;
}