.columntask{
    flex-grow: 2;
    max-width: 70%;
    max-height: 50%;
    display:flex;
    flex-direction: column;
}
.container-home{  
    .row{
        justify-content: space-between;
        h2{
            font-weight: 100;
            padding-left: 4%;
            color: mediumslateblue;
            line-height: 0.4px;
        }
    }
    img{
        max-height: 40px;
    }
}
.home-task{
    background-color: pink;
    height: 100%;
    border-bottom: solid gray 1px;
}
.container-home{
    padding: 20px;
    ul{
        text-align: right;
        li{
            color:black;
            font-size:14px;
            list-style: none;
            border-bottom: solid gray 1px;
            text-align: left;
            line-height: 1.6;
        }
        min-width: 60%;
        
    }
    
}