.container-home{
    padding: 20px;
    border-bottom: 1px solid gray;
    min-width: 100%;
    ul{
        text-align: right;
        li{
            color: blue;
            font-size:16px;
        }
    }
}