.columntask{
    flex-grow: 2;
    max-width: 70%;
    max-height: 50%;
    display:flex;
    flex-direction: column;
}
.container-home{  
    .row{
        justify-content: space-between;
        .tittleTaskSection{
            font-family:'Courier New', Courier, monospace;
            font-size: 22px;
            margin: auto;
            color: rgb(120, 116, 116);
            padding-top: 20px;
        }
    }
    img{
        max-height: 40px;
    }
}
.home-task{
    background-color: #edd9dd;
    height: 100%;
    border-radius: 10px;
    margin: 0 8px 8px 8px;
}
.container-home{
    ul{
        text-align: right;
        li{
            color:rgb(138, 137, 137);
            font-size:14px;
            list-style: none;
            border-bottom: solid gray 1px;
            text-align: left;
            line-height: 1.6;
            font-weight: lighter;
            width: 95%;
        }
        
    }
    
}