

.row{
    font-family:'Courier New', Courier, monospace !important;
    justify-content: space-between;
    .addTaskButton{
        cursor: pointer;
        img{
            width: 30px;
            height: 30px;
        }
    }
    #modal-modal-title{
        font-weight: 100;
        color: mediumslateblue;
        text-align: center;
        margin:auto;
        font-size: 20px;
    }
}

.box-styles{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    margin: auto;
    background-color: seashell;
    border: 1px solid seashell;
    border-radius: 2%;
    box-shadow: 0px 0px 17px 6px darksalmon;
    padding-bottom: 10px;
    min-width:500px;
    text-align: center;
    
    .form-modal-addTask{
        .submit-button:disabled{
            background-color: lightgray;
            color: gray;
            cursor: not-allowed;
            margin-top:12px;
        }
        min-width: 400px;
        .select-field{
            margin-top: 10px;
        }
    }
};

